/2026-03-09-12-23-29/
/apps-to-copy/
/programs_lsl/
/stimuli/
/test_data/
/xsens_labstreaminglayer_link-master/
*.xlsx
*.html
*.png
*.docx
*.pptx
*.txt
*.tmp
*.xlsx
*.DS_Store
*.Rhistory
*.err
*.out
*.pyc